<div class="row ">
  <div class="col-sm-12">
    <div class="d-flex justify-content-end">
      <button
        pButton
        iconPos="right"
        class="p-button-help ml-auto mt-3 border-round"
        (click)="voltar()"
        title="Nova Máquina"
      >
        <i class="pi pi-chevron-left"></i>
        Voltar
      </button>
    </div>

    <br />
    <br />

    <!-- Aqui está a substituição -->
    <app-form-stepper
      [form]="form"
      [model]="model"
      [fields]="fields"
      (submit)="salvarFormulario($event)"
    ></app-form-stepper>

    <!-- Erro ou mensagens -->
    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger mt-3">
      {{ message }}
    </div>
  </div>
</div>

<p-toast></p-toast>
