<div class="p-grid">
  <div class="p-col-12">
    <div class="d-flex justify-content-end">
      <button
        pButton
        iconPos="right"
        class="p-button-help ml-auto mt-3 border-round"
        (click)="voltar()"
        title="Nova Máquina"
      >
        <i class="pi pi-chevron-left"></i>
        Voltar
      </button>
    </div>

    <br />
    <br />

    <div class="p-grid p-fluid">
      <form [formGroup]="form" (ngSubmit)="onSubmit(model)" autocomplete="off">
        <formly-form [form]="form" [fields]="fields" [model]="model" autocomplete="off" class="p-col-12"></formly-form>
        <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger">
          {{ message }}
        </div>
      </form>
    </div>

    <!-- Erro ou mensagens -->
    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger mt-3">
      {{ message }}
    </div>
  </div>
</div>

<p-toast></p-toast>
