<div class="row">
    <div class="col-sm-12">
        <br/>
        <h4>LISTA DE CAMPO LIVRE 2</h4> 
        <br/>
        <div style="width: 100%;" class="d-flex justify-content-end">
            <button pButton iconPos="right" class="p-button-help ml-auto mt-3 border-round"  (click)="openCreateFreeField2()" title="Novo Grupo"><i class="pi pi-plus"></i></button>
        </div>
        <br/>         
        <p-table #dt [value]="freeField2List?.data" [tableStyle]="{ 'min-width': '50rem' }"
            styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20, 50]"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
            responsiveLayout="scroll" [rowHover]="true" [showCurrentPageReport]="true">
            <ng-template #header pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th class="text-center">Ações</th>
                </tr>
            </ng-template>
            <ng-template #body let-freeField pTemplate="body">
                <tr [ngClass]="rowClass(freeField)" [ngStyle]="rowStyle(freeField)">
                    <td>{{ freeField?.name }}</td>
                    <td class="text-center" style="width: 200px;">
                        <div class="action-buttons">
                            <button pButton class="p-button p-button-help m-1" (click)="openEditFreeField2(freeField)"
                                title="Editar">
                                <i class="pi pi-pencil"></i>
                            </button>
                            <button pButton iconPos="right" class="p-button p-button-danger m-1" (click)="deleteFreeField2(freeField)"
                                title="Excluir">
                                <i class="pi pi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" style="text-align: center">Não possui nenhum registro.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-free-field2-new #showCreate></app-free-field2-new>
<app-free-field2-edit #showUpdate></app-free-field2-edit>