<div class="row">
  <div class="col-sm-12">
    <br />
    <h4>LISTA DE PERMISSÕES</h4>
    <br />
    <div style="width: 100%;" class="d-flex justify-content-end">

      <input placeholder="Informe o nome" pInputText id="name" type="text" class="p-inputtext formSearch" #name />
      <button pButton icon="pi pi-search" (click)="this.filter(name.value)" label="Pesquisar"
        class="p-button p-button-help search" style="margin-left: 1%;"></button>
      <button pButton icon="pi pi-eraser" (click)="this.cleanFilter()" label="Limpar Filtro"
        class="p-button p-button-help search" style="margin-left: 1%;"></button>
    </div>
    <br /><br />
    <div style="width: 100%;" class="d-flex justify-content-end">
      <button pButton iconPos="right" class="p-button-help ml-auto mt-3 border-round"
        routerLink="/admin/settings/permissions/new" title="Nova Origem"><i class="pi pi-plus"></i></button>
    </div>
    <br />
    <p-table #dt [value]="permissionsList" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
      [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20, 50]"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados" responsiveLayout="scroll"
      [rowHover]="true" [showCurrentPageReport]="true">
      <ng-template #header pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th class="text-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-permission pTemplate="body">
        <tr [ngClass]="rowClass(permission)" [ngStyle]="rowStyle(permission)">
          <td>{{ permission?.name }}</td>
          <td>{{ permission?.description }}</td>
          <td class="text-center" style="width: 100px;">
            <div class="action-buttons">
              <button pButton iconPos="right" class="p-button p-button-danger m-1"
                (click)="deletePermission(permission)" title="Excluir">
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" style="text-align: center">Não possui nenhum registro.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>