<div class="p-grid">
    <div class="p-col-12">
        <div class="d-flex justify-content-end">
            <button pButton iconPos="right" class="p-button-help ml-auto mt-3 border-round" (click)="voltar()"
                title="Voltar">
                <i class="pi pi-chevron-left"></i>
                Voltar
            </button>
        </div>

        <br />
        <h4>Cadastrar Conta</h4>
        <br />

        <div class="card-body row btn-page">

            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                <formly-form [form]="form" [fields]="fields" [model]="model" autocomplete="off"
                    class="p-col-12"></formly-form>
                <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger">
                    {{ message }}
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2 w-full">
                    <button type="submit" pButton icon="pi pi-check" [disabled]="!form.valid" label="Salvar"
                        class="p-button p-button-success"></button>
                    <button pButton icon="pi pi-times" (click)="this.voltar()" label="Cancelar" style="margin-left:1%;"
                        class="p-button p-button-danger"></button>
                </div>
            </form>
        </div>

        <!-- Erro ou mensagens -->
        <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger mt-3">
            {{ message }}
        </div>
    </div>
</div>

<p-toast></p-toast>