<div class="p-grid">
  <div class="p-col-12">
    <div class="d-flex justify-content-end">
      <button pButton iconPos="right" class="p-button-help ml-auto mt-3 border-round" (click)="voltar()" title="Voltar">
        <i class="pi pi-chevron-left"></i>
        Voltar
      </button>
    </div>
    <br />
    <br />
    <h4>Atualizar Pessoa {{ this.tipoCliente }}</h4>
    <br />

    <br />
    <br />

    <div class="p-grid p-fluid">

      <form [formGroup]="formFisica" (ngSubmit)="onSubmit()" autocomplete="off">
        <formly-form [form]="formFisica" [fields]="fieldsFisica" [model]="modelFisica"
          autocomplete="off" class="p-col-12"></formly-form>
      </form>

      <form [formGroup]="formJuridico" (ngSubmit)="onSubmit()" autocomplete="off">
        <formly-form [form]="formJuridico" [fields]="fieldsJuridica" [model]="modelJuridica"
          autocomplete="off" class="p-col-12"></formly-form>
      </form>
    </div>

    <!-- Erro ou mensagens -->
    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center text-danger mt-3">
      {{ message }}
    </div>
  </div>
</div>

<p-toast></p-toast>