<p-dialog header="Cadastrar Fase" [(visible)]="this.display" [modal]="true" showEffect="fade"
  [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
  <div class="card-body row btn-page">
    <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit(name.value)">
      <label><b>Nome</b></label>
      <input placeholder="Informe o nome" pInputText  id="name" type="text" class="p-inputtext formSave" #name />
    </form>
  </div>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="this.onSubmit(name.value)" label="Salvar"
      class="p-button-outlined p-button-success"></button>
    <button pButton icon="pi pi-times" (click)="this.close()" label="Cancelar"
      class="p-button-outlined p-button-danger"></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>