<p-dialog header="Visualizar Perfil" [(visible)]="this.display" [modal]="true" showEffect="fade"
  [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
  <div class="modal-body">
    <div class="p-grid mb-5">
      <div class="p-col-12 p-md-6">
        <span><strong>Nome:&nbsp;</strong></span>
        <span>{{ content?.name }}</span>
      </div>
      <div class="p-col-12 p-md-6">
        <span><strong>Descrição:&nbsp;</strong></span>
        <span>{{ content?.description }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 text-start">
        <span><strong>PERMISSÕES</strong></span>
      </div>
      <div class="p-col-12">
        <span class="badge bg-success rounded f-12 m-1" *ngFor="let list of listPermission; let i = index">{{ list?.description }}</span>
      </div>
    </div>
  </div>
</p-dialog>
